.hidden {
  display: none;
}
.js-input-group,
.js-input,
.js-list-btn {
  position: relative;
}

.js-quit-edit-btn {
  font-size: 22px;
  opacity: 0.6;
  position: absolute;
  right: 145px;
  z-index: 1;
}
