<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Список дел</h1>
            <div class="input-group mb-3 js-input-group">
                <input type="text" [(ngModel)]="inputText" class="form-control js-input"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                    placeholder="Что вы хотите сделать?">
                <span [ngClass]="{hidden: !isEditing()}" (click)="clearEdit()" class="js-quit-edit-btn">x</span>
                <button [ngClass]="{hidden: isEditing()}" (click)="addItem()" type="button"
                    class="btn btn-primary js-list-btn">Добавить</button>
                <button [ngClass]="{hidden: !isEditing()}" (click)="editItem()" type="button"
                    class="btn btn-warning js-list-btn">Редактировать</button>
            </div>
            <ul class="list-group">
                <app-list-item (onEdit)="edit($event)" (onRemove)="remove($event)" (check)="check(i)" [item]="item"
                    [index]="i" [editingIndex]="editingIndex" *ngFor="let item of list; let i = index">
                </app-list-item>
            </ul>
        </div>
    </div>
</div>