<li [ngClass]="{active: showActive(editingIndex)}"
    class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <input type="checkbox" [checked]="item.done" (click)="onCheck.emit()">
        <span [ngClass]="{done: item.done}"> {{ item.title }}</span>
    </div>
    <span (click)="edit()" class="badge bg-warning rounded-pill">edit</span>
    <span (click)="remove()" class="badge bg-danger rounded-pill">x</span>
</li>